:root {
  --color-grey: #bbb;
  --color-white: #eee;
  --color-primary: #EBE4C8;
  --color-primary-light: rgb(223, 216, 202);
  --color-primary-dark:#b1a77f; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  background-color: #16242D;
  min-height: 100vh; }

body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: #D9CD9E; }

.heading-1 {
  font-size: 1.8rem; }

@keyframes time {
  100% {
    stroke-dashoffset: 0rem; } }

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto; }

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .content-box > * {
    margin-bottom: 2rem; }

.logo {
  width: 20rem; }
  @media only screen and (max-width: 62.5em) {
    .logo {
      margin-top: 10rem; } }

.link {
  color: var(--color-primary-light);
  text-decoration: none; }
  .link:hover {
    color: var(--color-white); }

.email {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center; }
  .email__input {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--color-primary);
    font-family: inherit;
    width: 50%;
    transition: all .4s; }
    @media only screen and (max-width: 43.75em) {
      .email__input {
        font-size: 1.2rem; } }
    .email__input:focus {
      width: 55%;
      outline: none; }
  .email__button {
    margin-left: -4.5rem;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer; }
    .email__button:active {
      transform: translateY(0.2rem);
      outline: none; }
    .email__button:focus {
      outline: none; }
  .email__icon {
    font-size: 2.75rem;
    color: var(--color-primary-dark); }
  .email::before, .email::after {
    content: '';
    background-color: var(--color-primary);
    height: .1rem;
    width: 20%; }
  .email::before {
    margin-right: 2rem; }
  .email::after {
    margin-left: 3.75rem; }

.icon__link {
  width: 6rem;
  height: 6rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
  margin: 1rem;
  padding: .6rem;
  transition: all .4s ease;
  border-radius: 50%; }
  .icon__link:hover {
    transform: scale(1.1); }

.counter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15rem; }
  @media only screen and (max-width: 62.5em) {
    .counter-container {
      margin-bottom: 10rem; } }
  @media only screen and (max-width: 43.75em) {
    .counter-container {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 18.75em) {
    .counter-container {
      grid-template-columns: 1fr;
      grid-row-gap: 5rem; } }

.counter {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .counter__svg {
    position: absolute;
    top: -3rem; }
  .counter__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--color-primary-light); }
  .counter__text {
    font-size: 3rem;
    font-weight: 600; }
  .counter span {
    font-size: 2rem;
    text-transform: uppercase; }
